/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.match-find {
  //background-color: #D2B48C;
  .profile-card {
    border-radius: 4px;
  }
  .profile-image {
    height: 250px;
    overflow: hidden;
  }
  .time-label {
    //font-size: 13px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    top: 20px;
  }
  .connection-label {
    background-color: white;
    position: absolute;
    top: 4px;
    right: 4px;
  }
  .chat-icon {
    position: absolute;
    top: 200px;
    color: grey;
    right: 14px;
    background: white;
    width: 70px;
    height: 40px;
    border-radius: 95px;
    border: 1px solid grey;
    i {
      font-size: 35px;
    }
  }
  .chat-icon:active {
    background-color: #cccccc;
  }
  .profile-info {
    margin: 10px;
    .profile-detail {
      margin: 0 10px;
      text-align: center;
    }
  }
  .message-me {
    margin: 0 10px;
  }
  .slick-dots {
    bottom: 0;
  }
}

.message-in-bottle {
  height: 100%;
  background: url("../img/messageInBottleBackground2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .scroll {
    height: 100%;
  }
  .bottle {
    img {
      width: auto;
      height: 50px;
    }
  }
  .messages {
    height: 70%;
    .bottle {
      position: relative;
      top: 50px;
      padding: 20px;
    }
  }
  .my-message {
    height: 30%;
    .bottle {
      img {
        width: auto;
        height: 70px;
      }
    }
  }
  .time-label {
    margin: 0 50px;
  }
}

.memo-add {
  .memo-options-list {

    .item {
      border-style: none;
    }
  }
}

//Share
.margin-0-10 {
  margin: 0 10px;
}