/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.match-find {
  .profile {
    background-color: wheat;
    .content {
      margin: 20px 20px 0 20px;
      p.time-label{
        text-align: center;
        font-size: 12px;
      }
      .image-container {
        //margin: 0 40px;
        img {
          width: 100%;
        }
      }
      .button-container{
        margin-top: 20px;
        .button.pass{
          width: 100px;
          float: left;
        }
        .button.connect{
          width: 100px;
          float: right;
        }
      }
    }
  }
}