<ion-view view-title="Find" hide-back-button="true" ng-controller="HomeFindCtrl">
    <ion-content class="find">
        <div class="list">
            <div class="item item-divider">
                Divider 0
            </div>
            <a class="item item-icon-left" href="#/messagebox">
                <i class="icon ion-flash"></i>
                Message box
            </a>
            <div class="item item-divider">
                Divider 1
            </div>
            <a class="item item-icon-left" href="#/matchfind">
                <i class="icon ion-flash"></i>
                Find a Connection
            </a>
            <a class="item item-icon-left" href="#/messageinbottle">
                <i class="icon ion-beaker"></i>
                Message in a bottle
            </a>
            <div class="item item-divider">
                Divider 2
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-person-add"></i>
                Add a Friend
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-search"></i>
                QR Scan
            </a>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="#/chat">
            <i class="icon ion-chatbubble"></i>
            Chat
        </a>
        <a class="tab-item active">
            <i class="icon ion-android-person-add"></i>
            Find
        </a>
        <a class="tab-item">
            <i class="icon ion-card"></i>
            Profile
        </a>
        <a class="tab-item" href="#/memohome">
            <i class="icon ion-clipboard"></i>
            Memo
        </a>
    </div>
</ion-view>
