<ion-view view-title="Match Find" hide-back-button="true" ng-controller="MatchFindCtrl">
    <ion-nav-buttons side="right">
        <a class="no-decoration button-clear" href="#/addmoney">
            <i class="icon ion-ios7-plus-empty big"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="match-find carousel">
            <div class="profile">
                <div class="content">
                    <p class="time-label">Your new friends will be refreshed at 8am every day!</p>
                    <div class="image-container">
                        <img src="img/1.jpg">
                    </div>
                    <div class="button-container">
                        <button class="button pass">Pass</button>
                        <button class="button connect">Connect</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
