<ion-view view-title="Match Find" ng-controller="MatchFindCtrl">
    <ion-content class="match-find">
        <p class="time-label">New friends get refreshed at 12am every day!</p>
        <div class="carousel">
            <div class="list card profile-card" ng-repeat="p in profiles">
                <div class="item item-avatar">
                    <img ng-src="img/{{p.image}}">

                    <h2>Pretty Hate Machine</h2>

                    <p>Nine Inch Nails</p>
                </div>

                <div class="item item-image profile-image">
                    <img ng-src="img/{{p.image}}">
                    <div ng-show="p.passed" class="connection-label">Passed</div>
                    <div ng-show="p.connected" class="connection-label">Connected</div>
                </div>

                <div class="row">
                    <button class="button button-clear button-positive col col-50" ng-disabled="p.connected" ng-click="addLabel(0, p)">
                        Pass
                    </button>
                    <button class="button button-clear button-positive col col-50" ng-disabled="p.passed" ng-click="addLabel(1, p)">
                        Connect
                    </button>
                </div>
                <p class="description">
                    Your new friends will be refreshed at 8am every day!
                    Your new friends will be refreshed at 8am every day!
                    Your new friends will be refreshed at 8am every day!
                    Your new friends will be refreshed at 8am every day!
                </p>
            </div>
    </ion-content>
</ion-view>
