<ion-view view-title="Add Words" ng-controller="MemoCtrl">
    <ion-content class="memo-add">
        <div class="list memo-options-list">
            <div class="item">
                <input type="text" placeholder="New word" ng-blur="endEditingWord()" ng-model="newMemo.word" ng-show="isEditingWord"/>
                <label ng-hide="isEditingWord" ng-click="startEditingWord()">{{newMemo.word}}</label>
            </div>
            <div class="item">
                <label>Meaning</label>
                <hr>
                <input type="text" placeholder="Meaning" ng-blur="endEditingMeaning()" ng-model="newMemo.meaning" ng-show="isEditingMeaning"/>
                <label ng-hide="isEditingMeaning" ng-click="startEditingMeaning()">{{newMemo.meaning}}</label>
            </div>
            <div class="item">
                <label>Meaning</label>
                <hr>
                <input type="text" placeholder="Notes"/>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="#/chat">
            <i class="icon ion-chatbubble"></i>
            Chat
        </a>
        <a class="tab-item" href="#/homefind">
            <i class="icon ion-android-person-add"></i>
            Find
        </a>
        <a class="tab-item">
            <i class="icon ion-card"></i>
            Profile
        </a>
        <a class="tab-item active">
            <i class="icon ion-clipboard"></i>
            Memo
        </a>
    </div>
</ion-view>
