<ion-view view-title="Memo" hide-back-button="true" ng-controller="MemoCtrl">
    <ion-content class="memo-home">
        <a href="#/memoadd">
            No new words
            <br>
            Tap to add +
        </a>
    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="#/chat">
            <i class="icon ion-chatbubble"></i>
            Chat
        </a>
        <a class="tab-item" href="#/homefind">
            <i class="icon ion-android-person-add"></i>
            Find
        </a>
        <a class="tab-item">
            <i class="icon ion-card"></i>
            Profile
        </a>
        <a class="tab-item active">
            <i class="icon ion-clipboard"></i>
            Memo
        </a>
    </div>
</ion-view>
