<ion-view view-title="Add Words" ng-controller="MemoCtrl">
    <ion-content class="memo-add">
        <div class="list memo-options-list">
            <div class="item">
                <label>New Word</label>
                <hr>
                <label class="item item-input">
                    <input type="text" placeholder="New word" ng-model="newMemo.word">
                </label>
            </div>
            <div class="item">
                <label>Meaning</label>
                <hr>
                <label class="item item-input">
                    <input type="text" placeholder="Meaning" ng-model="newMemo.meaning">
                </label>
            </div>
            <div class="item">
                <label>Notes</label>
                <hr>
                <list>
                    <ul ng-repeat="note in newMemo.notes">
                        <label class="item item-input">
                            <i class="icon ion-android-bulb"></i>
                            <input type="text" ng-model="note.content">
                        </label>
                    </ul>
                    <label class="item item-input new-note-add">
                        <input type="text" placeholder="New note" ng-blur="addToNotes()"
                               ng-model="tempMemo.newNoteItem"/>
                    </label>
                </list>
            </div>
            <div class="item">
                <label>Speak</label>
                <hr>
                <!--<label class="item" ng-click="startRecording()"><i class="icon ion-mic-a"></i>Hold to record</label>-->
                <label class="item" ng-click="recorderRecord()"><i class="icon ion-mic-a"></i>Hold to record</label>
                <label class="item" ng-click="recorderStop()"><i class="icon ion-mic-a"></i>Hold to stop</label>
                <!--<label class="item" ng-click="playRecord()"><i class="icon ion-mic-a"></i>Hold to play</label>-->
                <label class="item" ng-click="recorderPlayback()"><i class="icon ion-mic-a"></i>Hold to play</label>
            </div>
        </div>
        <div>
            <button class="button button-full button-positive" ng-disabled="noWord" ng-click="addWord()">
                Add Word
            </button>
        </div>
    </ion-content>
</ion-view>
