<ion-view view-title="Message in a Bottle" ng-controller="MessageInBottleCtrl">
    <ion-content scroll="false" class="message-in-bottle">
        <div class="div messages">
            <div class="row bottle">
                <div class="col-offset-10" ng-click="openPopover($event)"><img src="img/bottle1.jpeg"></div>
            </div>
            <div class="row bottle">
                <div class="col-offset-80" ng-click="openPopover($event)"><img src="img/bottle1.jpeg"></div>
            </div>
            <div class="row bottle">
                <div class="col-offset-20" ng-click="openPopover($event)"><img src="img/bottle1.jpeg"></div>
            </div>
        </div>
        <div class="div my-message">
            <div class="row bottle">
                <div class="col-offset-10" ng-click="openPopover($event)"><img src="img/bottle1.jpeg"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
